/* line 5, ../../../../Users/esl-lpillonel/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../Users/esl-lpillonel/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../Users/esl-lpillonel/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../Users/esl-lpillonel/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../Users/esl-lpillonel/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../Users/esl-lpillonel/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../Users/esl-lpillonel/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../Users/esl-lpillonel/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../Users/esl-lpillonel/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 4, ../sass/style.scss */
body {
  min-height: 1000px; }

/* line 9, ../sass/style.scss */
.mandala {
  border: 2px solid grey;
  margin: 50px auto 0;
  position: relative;
  text-align: center; }
  /* line 15, ../sass/style.scss */
  .mandala .circle {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute; }
  /* line 20, ../sass/style.scss */
  .mandala .title {
    display: inline-block;
    margin-top: 48%;
    color: white;
    background: black;
    padding: 7px 10px;
    font-family: 'Georgia', serif;
    font-style: italic;
    position: relative;
    z-index: 2; }
  /* line 32, ../sass/style.scss */
  .mandala .text {
    position: absolute;
    text-align: left;
    width: 150px;
    padding: 7px 10px;
    background: rgba(255, 255, 255, 0.7);
    font-family: 'Helvetica, Arial', sans-serif;
    font-size: 12px;
    line-height: 1.5em; }
    /* line 42, ../sass/style.scss */
    .mandala .text a {
      display: block;
      color: black; }
