@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

body {
	background : #F4F6FB url('../img/site.png') 50% top no-repeat;
	min-height: 1000px;
}

.mandala {
	border: 2px solid white;
	background: white;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin: 530px auto 0;
	position: relative;
	text-align: center;

	.circle {
		@include border-radius(50%);
		position: absolute;
		behavior: url(css/PIE/PIE.htc);
	}

	.title {
		display: block;
		color: white;
		background: black url('../img/plus.png') right 50% no-repeat;
		padding: 7px 30px 7px 10px;
		font-family: 'Georgia', serif;
		font-style: italic;
		position: absolute;
		z-index: 2;
	}

	.text {
		position: absolute;
		text-align: left;
		width: 150px;
		padding: 7px 10px;
		background: url('../img/ie-white.png');
		background: rgba(255, 255, 255, 0.7);
		font-family: 'Helvetica, Arial', sans-serif;
		font-size: 12px;
		line-height: 1.5em;
		@include box-shadow(0 0 10px rgba(0, 0, 0, 0.1));

		a {
			display: block;
			color: black;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}