@import "compass/reset";
@import "compass/css3/border-radius";

body {
	// background : #F4F6FB url('../img/site.png') 50% top no-repeat;
	min-height: 1000px;
}

.mandala {
	border: 2px solid grey;
	margin: 50px auto 0;
	position: relative;
	text-align: center;

	.circle {
		@include border-radius(50%);
		position: absolute;
	}

	.title {
		display: inline-block;
		margin-top: 48%;
		color: white;
		background: black;
		padding: 7px 10px;
		font-family: 'Georgia', serif;
		font-style: italic;
		position: relative;
		z-index: 2;
	}

	.text {
		position: absolute;
		text-align: left;
		width: 150px;
		padding: 7px 10px;
		background: rgba(255, 255, 255, 0.7);
		font-family: 'Helvetica, Arial', sans-serif;
		font-size: 12px;
		line-height: 1.5em;

		a {
			display: block;
			color: black;
		}
	}
}